/* Profile Container CSS */

.profile-container {
    padding: 60px 20px;
    text-align: center;
    background-color: #f9fafb;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Profile Top bar */
.profile-top-bar {
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 10px 10px;
}

/* Profile Side bar */
.profile-side-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 2px 2px;
    min-height: 50vh;
}

/* Responsive */
@media (max-width: 768px) {
    .profile-container {
        flex-direction: column;
    }

    .profile-main {
        padding: 20px;
    }

    .profile-card {
        padding: 24px 16px;
    }

    .sidebar {
        position: initial;
        height: 70vh;
        transition: left 0.3s ease;
    }

    .sidebar.open {
        left: 0;
    }

    .profile-popup {
        position: fixed;
        padding: 10px;
    }

}